html {
    scroll-behavior: smooth;
}

.scroll-hidden {
    overflow: hidden;
}

.root {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    line-height: normal;
    width: 100%;
    height: 100%;
    position: relative;
}

.container {
    max-width: $content-width;
    margin: 0 auto;
    padding: 0 20px;
}

.title {
    display: flex;
    gap: 18px;
    justify-content: center;
    &__divider {
        border-bottom: 2px solid $color-blue;
        margin-bottom: 8px;
        flex-grow: 1;
        width: 100%;
        &_mini {
            flex-basis: 20%;
            border-bottom: 2px solid $color-blue;
            margin-bottom: 8px;
            width: 100%;
        }
        &_color{
            &_white {
                border-color: $color-white;
            }
        }
    }
    &__name {
        @include font($font-l, $font-light, $color-black);
        white-space: nowrap;
        flex-grow: 0;
        &_color{
            &_white {
                color: $color-white;
            }
        }
    }
}

@include tablet {
    .title {
        &__name {
            @include font($font-m, $font-bold, $color-black);
            &_color{
                &_white {
                    color: $color-white;
                }
            }
        }
        &__divider {
            border-bottom: 3px solid $color-blue;
            margin-bottom: 6px;
        }
    }
    
}

//scrollbar styles
// Firefox
* {
    scrollbar-width: thin;
    scrollbar-color: $color-blue transparent;
  }
  
// Chrome, Edge и Safari
  *::-webkit-scrollbar {
    width: 7px;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: $color-blue;
    border-radius: 20px;
    border: 1px solid transparent;
  }
    
