.card {
    width: 100%;
    position: relative;
    background-size: cover;
    height: 100%;
    cursor: pointer;

    &__wrapper {
        position: absolute;
        top: 70%;
        left: 37px;
        opacity: 0;
        flex-direction: column;
        transition: opacity .4s linear;
        padding-right: 10px
    }

    &__title {
        @include font($font-ml, $font-light, $color-white);
        width: 100%;
        text-align: left;
    }

    &::before {
        content: " ";
        width: 100%;
        height: 100%;
        background-color: $color-blue-dark;
        position: absolute;
        opacity: 0;
        transition: opacity .4s linear;
    }

    @media (hover: hover) {
        &:hover::before {
            opacity: 0.6;
        }

        &:hover .card__wrapper {
            opacity: 1;
        }
    }

    @media (hover: none) {
        &::before {
            opacity: 0.4;
        }

        .card__wrapper {
            opacity: 1;
        }
    }

}
