.card {
    width: 100%;
    position: relative;
    background-size: cover;
    height: 100%;
    &__wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        transition: opacity .4s linear;
    }
    &__title {
        @include font($font-ml, $font-bold, $color-white);
        margin-bottom: 33px;
        width: 318px;
        text-align: center;
    }
    &__btn {
        @include button(123px, 7px);
    }

    &::before {
        content: " ";
        width: 100%;
        height: 100%;
        background-color: $color-blue-dark;
        position: absolute;
        opacity: 0;
        transition: opacity .4s linear;
    }
    &:hover::before {
        opacity: 0.6;
    }
    &:hover .card__wrapper {
        opacity: 1;
    }
}