.contacts {
    background: $gradient-blue;
    padding: 40px 0;
    &__container {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
    }
    &__address {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    &__info {
        @include font($font-m, $font-regular, $color-white);
    }
    &__link {
        @include link($color-white);
        display: flex;
        text-decoration: none;
    }
    &__timetable {
        display: flex;
        flex-direction: column;
        gap: 30px; 
    }
    &__img {
        margin-right: 10px;
        width: 22px;
        height: 22px;
        object-fit: contain;
    }
}

@include desktop {
    .contacts {
        padding: 20px 0;
        &__info {
            @include font($font-s, $font-regular, $color-white);
            &_bold {
                font-weight: $font-bold;
            }
        }
        &__link {
            @include font($font-s, $font-regular, $color-white);
        }
        &__container {
            margin-top: 20px;
        }
    }
}

@include tablet {
    .contacts {
        &__container {
            flex-direction: column;
            align-items: center;
        }
        &__address {
            gap: 10px;
            margin-bottom: 10px;
            align-items: center;
        }
        &__timetable {
            gap: 10px; 
            align-items: center;
        }
    }
}

@include mobile {
    .contacts {
        padding: 20px 0;
        &__info {
            @include font($font-xs, $font-light, $color-white);
            &_bold {
                font-weight: $font-regular;
            }
        }
        &__link {
            @include font($font-xs, $font-light, $color-white);
        }
    }
}