.popup {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 0 auto 0;
    justify-content: center;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: visibility .5s, opacity .5s linear;
    &__opened {
        visibility: visible;
        opacity: 1;
    }
    &__container {
        max-width: 800px;
        background-color: #ffffff;
        color: #000000;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 20px;
        padding: 60px 0 60px 60px;
        box-shadow: 10px 12px 53px 0px rgba(0, 0, 0, 0.60);
    }
    &__title {
        @include font($font-m, $font-medium, $color-black);
        padding-bottom: 33px;
        margin-right: 84px;
    }
    &__subtitle {
        @include font($font-s, $font-regular, $color-black);
        max-width: 652px;
        margin-right: 84px;
        height: 100%;
        overflow:scroll;
        padding-right: 10px;
    }
    &__close {
        width: 32px;
        height: 32px;
        padding: 0;
        background-color: transparent;
        border: none;
        background-image: url(../images/icons/close.svg);
        background-size: cover;
        cursor: pointer;
        align-self: flex-end;
        position: absolute;
        right: 32px;
        top: 26px;
        transition: opacity .3s linear;
        &:hover {
            opacity: 0.6;
        }
    }
}

@include tablet {
    .popup {
        &__title {
            @include font($font-s, $font-regular, $color-black);
            padding-bottom: 33px;
            margin-right: 20px;
        }
        &__subtitle {
            @include font($font-xs, $font-light, $color-black);
            margin-right: 20px;    
        }
        &__container {
            padding: 40px 0 20px 40px;
        }
        &__close {
            width: 23px;
            height: 23px;
            right: 20px;
            top: 16px;
        }
    }
}

@include tablet-heigth {
    .popup {
        &__title {
            padding-bottom: 10px;
        }
        &__container {
            padding: 20px 0 20px 20px;
        }
        &__close {
            width: 15px;
            height: 15px;
            right: 15px;
            top: 12px;
        }
    }
}